<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>logo</div>
        <div>Busqueda</div>
        <nav>
            <ul>
                <li><a href="">Ingreso</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
        <div>Carrito</div>
        <div>Cantidad</div><!-- deberia mostar la cantidad de dinero que acumulo el cliente en el carrito -->
    </header>
    <section> <!-- Inicio de carrousel -->
        <article>
            <img src="/img/carr1.jpg" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="/img/carr2.jpg" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="/img/carr3.jpg" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
        <article>
            <img src="/img/carr4.jpg" alt="Titulo del producto">
            <h3>Titulo del producto</h3>
            <p>Bajada del producto</p>
        </article>
    </section>
    <section> <!-- Inicio de productos destacados -->
        <article> 
            <img src="/img/dest1.jpg" alt="Producto destacado">
            <h3>Titulo de producto</h3>
            <p>Bajada del producto</p>
            <a href="#">ver más</a>
        </article>
        <article>
            <img src="/img/dest2.jpg" alt="Producto destacado">
            <h3>Titulo de producto</h3>
            <p>Bajada del producto</p>
            <a href="#">ver más</a>
        </article>
        <article>
            <img src="/img/dest3.jpg" alt="Producto destacado">
            <h3>Titulo de producto</h3>
            <p>Bajada del producto</p>
            <a href="#">ver más</a>
        </article>
    </section>
    <footer> <!-- Inicio del pie de pagina -->
        <div><img src="/img/logofoot.jpg" alt="Logo de la empresa"></div>
        <section>
            <h2>Categorias</h2>
            <ul>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
                <li><a href="#">Enlace 4</a></li>
            </ul>
        </section>
        <section></section>
            <h2>Marcas</h2>
            <ul>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
                <li><a href="#">Enlace 4</a></li>
            </ul>
        </section>
        <section>
            <h2>Lo mas buscado</h2>
            <ul>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
                <li><a href="#">Enlace 4</a></li>
            </ul>
        </section>
        <section>
            <h2>Contacto</h2>
            <ul>
                <li><a href="#">E-mail</a></li>
            </ul>
        </section>
        <section>
            <h2>Trabaja con nosotros</h2>
            <ul>
                <li><a href="#">Postulate</a></li>
            </ul>
        </section>
        <section>
            <div>
                Suscribite al newsletter
            </div>
        </section>
        <section>
            <div>
                <a href="https://www.facebook.com">facebook</a>
                <a href="https://www.instagram.com">instagram</a>
                <a href="https://www.twitter.com">twitter</a>
            </div>
        </section>
    </footer>
</body>
</html>