<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/f3260f2ce3.js" crossorigin="anonymous"></script>
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/slider.css" rel="stylesheet">
</head>

<body>
    <div class="contenedor">
        <div class="slider-contenedor">
            <section class="contenido-slider">
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia possimus, corporis blanditiis
                        natus saepe officiis fugit facilis dignissimos rerum ipsam!</h2>
                    <a href="#">Mas info</a>
                </div>
                <img src="\images\productos\notebook\Apple-Macbook-AirChipM1-8gb-Ssd256gb-vistafrente.jpg" alt="">
            </section>
            <section class="contenido-slider">
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia possimus, corporis blanditiis
                        natus saepe officiis fugit facilis dignissimos rerum ipsam!</h2>
                    <a href="#">Mas info</a>
                </div>
                <img src="\images\productos\notebook\Apple-Macbook-AirChipM1-8gb-Ssd256gb-vistalateral.jpg" alt="">
            </section>
            <section class="contenido-slider">
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia possimus, corporis blanditiis
                        natus saepe officiis fugit facilis dignissimos rerum ipsam!</h2>
                    <a href="#">Mas info</a>
                </div>
                <img src="\images\productos\notebook\Apple-Macbook-AirChipM1-8gb-Ssd256gb-vistasuperior.jpg" alt="">
            </section>
            <section class="contenido-slider"> <!-- se repite el primero para el codigo de js -->
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia possimus, corporis blanditiis
                        natus saepe officiis fugit facilis dignissimos rerum ipsam!</h2>
                    <a href="#">Mas info</a>
                </div>
                <img src="\images\productos\notebook\Apple-Macbook-AirChipM1-8gb-Ssd256gb-vistafrente.jpg" alt="">
            </section>
        </div>
    </div>

    <script src="\js\slider.js"></script>
</body>

</html>