* {
    box-sizing: border-box;
}

html{
    font-family: Geometos;
    src: url('./fonts/geometos-rounded.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    text-align: center;
}
@font-face {
    font-family: Geometos;
    src: url('./fonts/geometos-rounded.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}

/* ------------ POP-UP--------------*/

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-family: Geometos;
    padding: 20px;
    text-align: center;
    width: 60vw;
    max-width: 300px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup img {

    width: 40px;
    height: 40px;
    opacity: 0;
    margin-bottom: 10px;

}

.popup form {
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}


.popup .btn-close-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-close-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #000;
    transition: .3s ease all;
}

.popup form .login-email{
    opacity: 0;
    max-width: 150px;
    margin-bottom: 5px;
    font-size: 13px;

}
.popup form .login-pass{
    opacity: 0;
    max-width: 150px;
    margin-bottom: 5px;
    font-size: 13px;
}
.popup form .login-remember-father {
    opacity: 0;
    margin-bottom: 10px;
    font-family: Geometos;
    font-size: 9px;
    display: flex;
}


.popup form .login-register{
    opacity: 0;
    margin-bottom: 5px;
    font-size: 9px;
}
.popup form .login-forget{
    opacity: 0;
    margin-bottom: 5px;
    font-size: 9px;
}

.popup form container-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
   
}


.popup form .btn-submit {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border: none;
    background: #461466;
    color: #f8f8f8;
    font-family: Geometos Rounded;
    font-size: 11px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 3px;
    margin-bottom: 25px;
    opacity: 0;

}

.popup form .btn-submit:hover {
    background: rgba(46, 14, 66, .9);
}

/*----------- Animaciones -------*/

.popup.active { opacity: 1; transform: scale(1); }
.popup.active img{ animation: user .8s ease .5s forwards; }
.popup.active .login-email{ animation: loginEmail .8s ease .8s forwards; }
.popup.active .login-pass{ animation: loginPass 1s ease 1s forwards; }
.popup.active .login-remember{ animation: loginRemember 1.2s ease 1.2s forwards; }
.popup.active .btn-submit{ animation: loginSubmit 1.4s ease 1.4s forwards; }
.popup.active .login-register{ animation: loginRegister 1.6s ease 1.6s forwards; }
.popup.active .login-forget{ animation: loginForget 1.8s ease 1.8s forwards; }


@keyframes user {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loginEmail {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginRemember {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginPass {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginSubmit {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginRegister {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes loginForget {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}