* {
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}
@font-face {
    font-family: Geometos Rounded;
    src: url('./fonts/geometos-rounded.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}

/* ------------ POP-UP--------------*/

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-family: Geometos Rounded;
    padding: 20px;
    text-align: center;
    width: 60vw;
    
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup img {

    width: 40px;
    height: 40px;
    opacity: 0;
    margin-bottom: 10px;

}


.popup .btn-close-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-close-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #000;
    transition: .3s ease all;
}

.popup form container-inputs {
    opacity: 0;
}

.popup form container-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
    opacity: 0;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border: none;
    background: #461466;
    color: #f8f8f8;
    font-family: Geometos Rounded;
    font-size: 14px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 3px;
    opacity: 0;
}

.popup form .btn-submit:hover {
    background: rgba(46, 14, 66, .9);
}

/*----------- Animaciones -------*/

.popup.active { opacity: 1; transform: scale(1); }
.popup.active img{ animation: user .8s ease .5s forwards; }
.popup.active .container-inputs{ animation: enterInputs 1s ease 1s forwards; }
.popup.active .btn-submit{ animation: enterSubmit 1.2s ease 1.2s forwards; }

@keyframes user {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes enterInputs {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes enterSubmit {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}