* {
    box-sizing: border-box;
}

body {
    background-color: black;
    text-align: center;
}
@font-face {
    font-family: Geometos Rounded;
    src: url('./fonts/geometos-rounded.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;

}