<!-- Inicio boton de whatsapp flotante
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=5195508107&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a> -->

<!-- head added -->
<%- include('./partials/head'); %>

    <!-- header added -->
    <%- include('./partials/header'); %>

        <main>
            <section class="main-section">
                <!-- Inicio de carrousel -->
                <div class="slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
                    <div><img src="\images\carrusel\imagen.1.png" alt="Producto destacado"></div>
                    <div><img src="\images\carrusel\imagen.2.png" alt="Producto destacado"></div>
                    <div><img src="\images\carrusel\imagen.3.png" alt="Producto destacado"></div>
                    <div><img src="\images\carrusel\imagen.4.png" alt="Producto destacado"></div>
                    <div><img src="\images\carrusel\imagen.5.png" alt="Producto destacado"></div>
                    <div><img src="\images\carrusel\imagen.6.png" alt="Producto destacado"></div>
                </div>
                <section class="index-container-section">
                    <!-- Inicio de productos destacados -->
                    <div class="neon-wrapper-prod-salient animate__animated animate__flash">
                        <div class="neon-text-prod-salient-prod"> Productos Destacados</div>
                        <!-- <div class="neon-text-prod-salient-dest"> </div> -->
                    </div>
                    <section class="index-container-section-products">
                        <% products.forEach(function(product){ %> <!-- recorro el array de productos  -->
                            <%- include('./partials/product',{product: product}) %> <!-- llamo a la vista parcial y le paso un producto -->
                        <% }); %>
                    </section>
                </section>
            </section>
        </main>
        <%- include('./partials/footer'); %>