<!-- Inicio boton de whatsapp flotante
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=5195508107&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a> -->

<!-- head added -->
<%- include('./partials/head'); %>

    <!-- header added -->
    <%- include('./partials/header'); %>

        <main>
            <!-- Inicio de carrousel -->
            <div class="slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
                <div><img src="\images\carrusel\imagen.1.png" alt="Producto destacado"></div>
                <div><img src="\images\carrusel\imagen.2.png" alt="Producto destacado"></div>
                <div><img src="\images\carrusel\imagen.3.png" alt="Producto destacado"></div>
                <div><img src="\images\carrusel\imagen.4.png" alt="Producto destacado"></div>
                <div><img src="\images\carrusel\imagen.5.png" alt="Producto destacado"></div>
                <div><img src="\images\carrusel\imagen.6.png" alt="Producto destacado"></div>
            </div>
            <section class="index-container-section">
                <!-- Inicio de productos destacados -->
                <div class="neon-wrapper-prod-salient animate__animated animate__flash">
                    <div class="neon-text-prod-salient-prod"> Productos Destacados</div>
                    <!-- <div class="neon-text-prod-salient-dest"> </div> -->
                </div>
                <article class="product">
                    <img src="\images\productos\disco\disco-duro.png" alt="Producto destacado">
                    <h3>Disco Duro</h3>
                    <p>Disco Duro Expansion Portable de Seagate</p>
                    <p class="home-precio-dest">$5000</p>
                    <a href="/productDetail">ver más</a>
                </article>
                <article class="product1">
                    <img src="\images\productos\gabinete\gabinete-01.png" alt="Producto destacado">
                    <h3>Gabinete Gamer</h3>
                    <p>Gabinete Redragon GC-530 Ratchet</p>
                    <p class="home-precio-dest">$4600</p>
                    <a href="/productDetail">ver más</a>
                </article>
                <article class="product2">
                    <img src="\images\productos\memoria\memoria-vista-lateral.png" alt="Producto destacado">
                    <h3>Memoria DDR4</h3>
                    <p>Memoria DDR4 Corsair ValueSelect 16gb</p>
                    <p class="home-precio-dest">$3000</p>
                    <a href="/productDetail">ver más</a>
                </article>
                <article class="product3">
                    <img src="\images\productos\disco\disco-duro.png" alt="Producto destacado">
                    <h3>Disco Duro</h3>
                    <p>Disco Duro Expansion Portable de Seagate</p>
                    <p class="home-precio-dest">$5000</p>
                    <a href="/productDetail">ver más</a>
                </article>
                <article class="product4">
                    <img src="\images\productos\gabinete\gabinete-01.png" alt="Producto destacado">
                    <h3>Gabinete Gamer</h3>
                    <p>Gabinete Redragon GC-530 Ratchet</p>
                    <p class="home-precio-dest">$4600</p>
                    <a href="/productDetail">ver más</a>
                </article>
                <article class="product5">
                    <img src="\images\productos\memoria\memoria-vista-lateral.png" alt="Producto destacado">
                    <h3>Memoria DDR4</h3>
                    <p>Memoria DDR4 Corsair ValueSelect 16gb</p>
                    <p class="home-precio-dest">$3000</p>
                    <a href="/productDetail">ver más</a>
                </article>
                <article class="product6">
                    <img src="\images\productos\gabinete\gabinete-01.png" alt="Producto destacado">
                    <h3>Gabinete Gamer</h3>
                    <p>Gabinete Redragon GC-530 Ratchet</p>
                    <p class="home-precio-dest">$4600</p>
                    <a href="/productDetail">ver más</a>
                </article>
                <article class="product7">
                    <img src="\images\productos\memoria\memoria-vista-lateral.png" alt="Producto destacado">
                    <h3>Memoria DDR4</h3>
                    <p>Memoria DDR4 Corsair ValueSelect 16gb</p>
                    <p class="home-precio-dest">$3000</p>
                    <a href="/productDetail">ver más</a>
                </article>
        </main>
        <%- include('./partials/footer'); %>