<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <META HTTP-EQUIV="REFRESH" CONTENT="5;URL=/"> -->
        <link rel="stylesheet" href="../css/_loader.css">
    <title>Loader - CM Mega Red</title>
</head>
<body>
    <main>
        <!-- <a href="/"><video src="\images\logos\logos\logo-tamaño-cuadrado.png" width="500" height="500"></video></a>

         -->

         <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Neon Button
        </a>
    </main>
</body>
</html>