

.logo-header {    
    grid-area: logo;
    margin: auto;
}
.user-logo-header {
    color: #000;
    /* text-shadow: 0 0 3px #f730fa; */
    grid-area: login;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.user-logo-header a {
    text-decoration: none;
    color: #444343;
    
}
.user-logo-header a:visited {
    text-decoration: none;
    color:  #444343;
    
}

.user-logo-header a:link {
    text-decoration: none;
    color: #444343;
    
}

.kart-header {
    color: #444343;
    /* text-shadow: 0 0 3px #f730fa; */
    grid-area: cart; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu {
    grid-area: menu;
    background-color: none;
    color: #ffffff;
    display: flex;
    max-width: 50px;
    max-height: 41px;
    padding: 9px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    font-size: 17px;
    justify-content: center;
    margin: auto;
}

.hamburger-button {
    border: 0;
    background-color: black;
    color: #444343;
}
.header-menu a {
    color: #444343;
    /* text-shadow: 0 0 4px #f730fa; */
    text-decoration: none;
    background-color: transparent;
}
/* .navbar {
    background-color: #000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
    height: 70px;
} */

.header-container {
    border-image: linear-gradient(to right, rgb(255, 182, 255), rgb(157, 4, 204));
    border-image-slice: 1;
    z-index: 40;
    position: fixed;
    top: 0;
    width: 100%;
    height: 74px;
    background-color: black;
    border-bottom: solid;
    border-bottom-width: thin;
}

.nav-bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "logo search login cart menu";
    width: 100%;
    height: 74px;
}

.header-search-container {
    width: 100%;
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.header-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2c2c;
    border: none;
    border-radius: 4px;
}
.header-search-button {
    width: 18%;
    position: relative;
    border-radius: 50%;
    border: none;
    right: 2px;
    background-color: #2e2c2c;
    
}
.header-search-input {
    width: 90%;
    background-color: #2e2c2c;
    border: none;
    line-height: 1.15;
    font-size: 11px;
    padding-left: 10px;
    font-weight: 800;
}

/*------menu-------*/

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }