.prod-total-container {

  display: flex;

  flex-direction: column;
  }
  
  .prod-sidebar-container {
    display: none;
  }


  .products-container-section {
    display: flex;
    grid-auto-flow: row;
    padding: 11px;
    width: 100%;
    margin-top: 84px;
    margin-bottom: 55px;
    flex-direction: column;
}

.product- {
  display: flex;
  width: 87%;
  margin: auto;
  background-color: #2e2c2c;
  padding: 14px 2px 20px 2px;
  box-shadow: 0 0 0 1px rgb(196 8 202);
  flex-direction: column;
  border-radius: 5px;
  margin-top: 39px;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
}

.product- img {
  width: 100%;
  padding: 0 15px; 
}

.product- h3{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1.5em;
  color: #e3e3e3;
}

.product- p{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.75em;
  color: #898989;
}

.product- a{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.75em;
  color: rgb(157 4 204 / 98%);
}

.prod-top-navbar-container {
  display: flex
}

.align-center {
  display: flex;
  align-items: center;
}

  .prod-top-navbar { 
    grid-area: prod-top-navbar;
    background-color: gray;
    position: fixed;
    top: 0;
    display: flex;
    margin-top: 74px;
    color: #bcbcbc;
    height: 28px;
    width: 100%;
    font-weight: 800;
    font-size: 8px;
    z-index: 30;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    }
  
    .prod-top-navbar ul { 
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0px;
        height: 27px;
    }

    .prod-top-navbar ul il{ 
        font-weight: 900;
        display: flex;
        align-items: center;

    }
    .prod-top-navbar ul il label{ 
        font-weight: 900;
        display: flex;
        align-items: center;
        margin-bottom: 0;

    }

    .prod-top-navbar-input-text {
        width: 30px;
    }

  .prod-main { 
    grid-area: prod-main;
    padding-bottom: 13px;
    width: 100%;
    position: relative;
    top: 0;
    margin-top: 113px;
    margin-bottom: 24px;
    }

    .prod-sec-cont {
        display: grid;
        grid-template-columns: 27% 40.9% 25.3% 5.8%;
        grid-template-rows: 15.9% 34.1% 25% 25%;
        gap: 0px 0px;
        background-color: #2e2c2c;
        box-shadow: 0 0 0 1px rgb(196 8 202);
        border-radius: 5px;
        grid-auto-flow: row;
        color: white;
        grid-template-areas:
            "prod-sec-cont-img prod-sec-cont-name prod-sec-cont-name prod-sec-cont-heart"
            "prod-sec-cont-img prod-sec-cont-name prod-sec-cont-name ."
            "prod-sec-cont-img prod-sec-cont-price . ."
            "prod-sec-cont-img prod-sec-cont-price prod-sec-cont-promo prod-sec-cont-promo";
        width: 94%;
        height: 15%;
        margin-bottom: 12px ;
        margin: auto;
      }
      
      .prod-sec-cont-img { 
        grid-area: prod-sec-cont-img;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
      .prod-sec-cont-img img {
        width: 73%;
      }
      .prod-sec-cont-heart { 
        grid-area: prod-sec-cont-heart;
        font-size: 9px;
        display: flex;
        margin-top: 17px;
        position: relative;
        right: 3px;
        align-items: center;
        justify-content: center;
        }
      
      .prod-sec-cont-price { 
        grid-area: prod-sec-cont-price;
        font-size: 9px;
        display: flex;
        position: relative;
        top: -11px;
        align-items: flex-end;
        }

        .prod-sec-cont-price p {
            grid-area: prod-sec-cont-price;
            font-size: 16px;
            font-weight: 900;
        }
      .prod-sec-cont-name { 
        grid-area: prod-sec-cont-name;
        font-size: 11px;
        display: flex;
        margin-top: 9px;
        width: 200px;
        }
      
      .prod-sec-cont-promo { 
        grid-area: prod-sec-cont-promo;
        font-size: 9px;
        position: relative;
        right: 9px;
        display: flex;
        top: -1px;
        justify-content: flex-end;
        }
      

/***********dropdown menu start **************/

.dropbtn {
    background-color: #808080;
    color: #b0b5b6;
    font-weight: 900;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bfbfbf;
    min-width: 66px;
    left: -12px;
    width: 72px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

/************* dropdown menu end**************/


/************* accordion menu ***************/

.accordion {
    background-color: #bfbfbf;;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 22px;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #bfbfbf;; 
  }
  
  .panel {
    padding: 0 8px;
    display: none;
    background-color: white;
    overflow: hidden;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .panel il {
    display: flex;
    align-items: center;
  }

  /************** Accordion menu end ****************/




  
/************************************************/
/************************************************/
/****************Resolution 769******************/
/************************************************/
/************************************************/



@media (min-width: 769px) {

  .prod-sidebar-container {
    display: none;

  }

  .prod-total-container {
    display: flex;
    flex-wrap: wrap;
  }
  .products-container-section {
    display: flex;
    grid-auto-flow: row;
    padding: 11px;
    margin-top: 84px;
    margin-bottom: 71px;
    flex-wrap: wrap;
    flex-direction: row;
}

  .product- {
    display: flex ;
    width: 44% ;
    margin: auto ;
    background-color: #2e2c2c ;
    padding: 15px 2px 20px 2px ;
    box-shadow: 0 0 0 1px rgb(196 8 202) ;
    border-radius: 5px ;
    margin-top: 39px ;
    margin-bottom: 10px ;
    flex-wrap: wrap ;
}

.prod-top-navbar-container {
  display: flex
}

  .prod-top-navbar { 
    grid-area: prod-top-navbar;
    background-color: gray;
    position: fixed;
    top: 0;
    margin-top: 78px;
    color: #bcbcbc;
    width: 100%;
    font-weight: 800;
    font-size: 12px;
    z-index: 30;
    }
  
    .prod-top-navbar ul { 
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0px;
        height: 27px;
    }

    .prod-top-navbar ul il{ 
        font-weight: 900;
        display: flex;
        align-items: center;

    }
    .prod-top-navbar ul il label{ 
        font-weight: 900;
        display: flex;
        align-items: center;
        margin-bottom: 0;

    }

    .prod-top-navbar-input-text {
        width: 30px;
    }

  .prod-main { 
    grid-area: prod-main;
    padding-bottom: 13px;
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    margin-top: 131px;
    margin-bottom: 170px;
    flex-wrap: wrap;
    }

    .prod-sec-cont {
    display: grid;
    grid-template-columns: 27% 40.9% 25.3% 5.8%;
    grid-template-rows: 15.9% 34.1% 25% 25%;
    gap: 0px 0px;
    background-color: #2e2c2c;
    box-shadow: 0 0 0 1px rgb(196 8 202);
    border-radius: 5px;
    grid-auto-flow: row;
    color: white;
    padding-bottom: 7px;
    padding-top: 7px;
    grid-template-areas:
        "prod-sec-cont-img prod-sec-cont-name prod-sec-cont-name prod-sec-cont-heart"
        "prod-sec-cont-img prod-sec-cont-name prod-sec-cont-name ."
        "prod-sec-cont-img prod-sec-cont-price . ."
        "prod-sec-cont-img prod-sec-cont-price prod-sec-cont-promo prod-sec-cont-promo";
    width: 44%;
    margin-bottom: 18px ;

      }
      
      .prod-sec-cont-img { 
        grid-area: prod-sec-cont-img;
        display: flex;
        width: 112%;
        margin-left: -5px;
        align-items: center;
        justify-content: center;
    }
      .prod-sec-cont-img img {
        width: 71%;
      }
      .prod-sec-cont-heart { 
        grid-area: prod-sec-cont-heart;
        font-size: 9px;
        display: flex;
        margin-top: 5px;
        position: relative;
        right: 3px;
        align-items: center;
        justify-content: center;
        }
      
      .prod-sec-cont-price { 
        grid-area: prod-sec-cont-price;
        font-size: 9px;
        display: flex;
        position: relative;
        top: 0px;
        align-items: flex-end;
        }

        .prod-sec-cont-price p {
            grid-area: prod-sec-cont-price;
            font-size: 16px;
            font-weight: 900;
        }
      .prod-sec-cont-name { 
        grid-area: prod-sec-cont-name;
        font-size: 11px;
        display: flex;
        margin-top: 2px;
        width: 200px;
        }
      
      .prod-sec-cont-promo { 
        grid-area: prod-sec-cont-promo;
        font-size: 9px;
        position: relative;
        right: 9px;
        display: flex;
        top: 3px;
        justify-content: flex-end;
        }
      

/***********dropdown menu start **************/

.dropbtn {
    background-color: #808080;
    color: #b0b5b6;
    font-weight: 900;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bfbfbf;
    min-width: 66px;
    left: -12px;
    width: 115px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

/************* dropdown menu end**************/


/************* accordion menu ***************/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none ;
    background-color: white;
    overflow: hidden;
  }

  /************** Accordion menu end ****************/



}

 
/************************************************/
/************************************************/
/****************Resolution 1200******************/
/************************************************/
/************************************************/



@media (min-width: 1200px) {


  .products-container-section {
    display: flex;
    grid-auto-flow: row;
    padding: 11px;
    width: 100%;
    position: relative;
    margin-top: 84px;
    margin-bottom: 206px;
    align-content: flex-start;
    justify-content: flex-start;
}

.product- {
  display: flex;
  width: 23%;
  margin: 9px;
  background-color: #2e2c2c;
  padding: 15px 2px 20px 2px;
  box-shadow: 0 0 0 1px rgb(196 8 202);
  flex-direction: column;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
}

.product- img {
  width: 100%;
  padding: 0 15px; 
}

.product- h3{
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 1.5em;
  color: #e3e3e3;
}

.product- p{
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 0.75em;
  color: #898989;
  text-align: center;
}

.product- a{
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 0.75em;
  color: rgb(157 4 204 / 98%);
}

.prod-sidebar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.prod-sidebar {
  background-color: #2e2c2c;
  box-shadow: 0 0 0 1px rgb(196 8 202);
  width: 90%;
  border-radius: 5px;
  position: relative;
  margin-bottom: 219px;
  margin-top: 105px;
  height: 100%;
  left: 10px;
  padding: 22px;
}

.sidebar-search-input {
  width: 90%;
  background-color: #000000;
  border: none;
  line-height: 2.50;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  font-weight: 800;
}

.sidebar-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  width: 179px;
}

  .prod-total-container {

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-template-areas:
        "prod-sidebar-container prod-main"
        "prod-sidebar-container prod-main";
    width: 100%;
  } 

  .prod-top-navbar-container {
    display: none
  }
  
  .prod-top-navbar { 
    grid-area: prod-top-navbar;
    background-color: gray;
    position: fixed;
    display: none;
    top: 0;
    margin-top: 74px;
    color: #bcbcbc;
    width: 100%;
    font-weight: 800;
    font-size: 8px;
    z-index: 80;
    }
  
    .prod-top-navbar ul { 
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0px;
        height: 27px;
    }

    .prod-top-navbar ul il{ 
        font-weight: 900;
        display: flex;
        align-items: center;

    }
    .prod-top-navbar ul il label{ 
        font-weight: 900;
        display: flex;
        align-items: center;
        margin-bottom: 0;

    }

    .prod-top-navbar-input-text {
        width: 30px;
    }

    .prod-filter-title {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .prod-filter-title p{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    }

    .prod-filter-search {
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      align-items: center;
      margin-bottom: 15px;
    }

    


    .prod-filter-categories p {
      font-weight: 900;
      font-size: 15px;
      margin-bottom: 6px;
    }
    .prod-filter-categories-list {
      position: relative;
      left: 7px;
      list-style: none;
      
    }
    
    .prod-filter-categories-list-cat {
      font-weight: 600 ;
      font-size: 13px;
    }
    .prod-filter-categories-list-cat-num {
      font-weight: 600 ;
      font-size: 13px;
    }
    .prod-filter-categories-list-cat-prod {
      font-weight: 400 ;
      font-size: 11px;
    }
    .prod-filter-categories-list-cat-prod-num {
      font-weight: 200 ;
      font-size: 11px;
    }

    /* .prod-filter-categories ul {
      font-weight: 500 ;
    }
    .prod-filter-categories ul li{
      font-weight: 200 ;
    } */


    .prod-filter-price {
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .range-slider {
      width:179px;
      height:10px;
  
      border-radius: 4px;
      background-color: #ddd;
  }
  
  .range__button_1, .range__button_2 {
      position: absolute;
      top: 47%;
  
      width: 20px;
      height: 20px;
  
      cursor: move;
      transform: translateY(-50%);
  
      border: none;
      border-radius: 50%;
      background-color: #ba0bf0;
  }
  .range__between
  {
    position: absolute;
      height: 5px;
      width:0px;
      margin-top:3px;
      border: none;
      background-color: #d23eff;
  }
  .range_inpt1, .range_inpt2
  {
    margin-top: 20px;
    width: 76px;
    font-size: 15px;
  }
  
  .range-slider-son {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .prod-filter-price-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 49px;
  }
  .prod-filter-price-container p {
    font-weight: 900;
    font-size: 15px;
    margin-bottom: 12px;
    margin-top: 15px;
  }
    .prod-filter-trademark{
    font-weight: 600 ;
    font-size: 13px;
      
    }
    .prod-filter-trademark-title {
      font-weight: 900;
      font-size: 15px;
      margin-bottom: 12px;
      margin-top: 15px;
    }

    .prod-filter-trademark-options{
    font-weight: 400 ;
    font-size: 11px;
    }
    .prod-filter-others{
      font-weight: 600 ;
      font-size: 13px;
    }
    .prod-filter-others-title{
      font-weight: 900;
      font-size: 15px;
      margin-bottom: 12px;
      margin-top: 15px;
    }
    .prod-filter-others-options{
      font-weight: 400 ;
      font-size: 11px;
    }
    .prod-filter-reset{
      display: flex;
      justify-content: center;
      margin-top: 21px;
    }
    .prod-filter-reset-button{
      height: 23px;
      width: 59px;
      border: none;
      background: #461466;
      color: #f8f8f8;
      font-size: 10px;
      cursor: pointer;
      box-shadow: 0 0 0 1px rgb(196 8 202);
      transition: .3s ease all;
      border-radius: 3px;
    }

  .prod-main { 
    grid-area: prod-main;
    padding-bottom: 13px;
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    margin-top: 131px;
    margin-bottom: 170px;
    flex-wrap: wrap;
    }

    .prod-sec-cont {
      display: grid;
      grid-template-columns: 27% 40.9% 25.3% 5.8%;
      grid-template-rows: 15.9% 34.1% 25% 25%;
      gap: 0px 0px;
      background-color: #2e2c2c;
      box-shadow: 0 0 0 1px rgb(196 8 202);
      border-radius: 5px;
      grid-auto-flow: row;
      color: white;
      padding-bottom: 7px;
      padding-top: 7px;
      grid-template-areas:
          "prod-sec-cont-img prod-sec-cont-img prod-sec-cont-img prod-sec-cont-img"
          ". prod-sec-cont-name prod-sec-cont-name ."
          ". prod-sec-cont-price prod-sec-cont-price ."
          ". prod-sec-cont-promo prod-sec-cont-promo .";
      width: 265px;
      height: 300px;
      margin-bottom: 18px ;

      }
      
      .prod-sec-cont-img { 
        grid-area: prod-sec-cont-img;
        display: flex;
        width: 112%;
        margin-left: -5px;
        align-items: center;
        justify-content: center;
    }
      .prod-sec-cont-img img {
        width: 71%;
      }
      .prod-sec-cont-heart { 
        grid-area: prod-sec-cont-heart;
        font-size: 9px;
        display: flex;
        margin-top: 5px;
        position: relative;
        right: 3px;
        align-items: center;
        justify-content: center;
        }
      
      .prod-sec-cont-price { 
        grid-area: prod-sec-cont-price;
        font-size: 9px;
        display: flex;
        position: relative;
        top: 0px;
        align-items: flex-end;
        }

        .prod-sec-cont-price p {
            grid-area: prod-sec-cont-price;
            font-size: 16px;
            font-weight: 900;
        }
      .prod-sec-cont-name { 
        grid-area: prod-sec-cont-name;
        font-size: 11px;
        display: flex;
        margin-top: 2px;
        width: 200px;
        }
      
      .prod-sec-cont-promo { 
        grid-area: prod-sec-cont-promo;
        font-size: 9px;
        position: relative;
        right: 9px;
        display: flex;
        top: 3px;
        justify-content: flex-end;
        }
      

/***********dropdown menu start **************/

.dropbtn {
    background-color: #808080;
    color: #b0b5b6;
    font-weight: 900;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #bfbfbf;
    min-width: 66px;
    left: -12px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

/************* dropdown menu end**************/


/************* accordion menu ***************/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none ;
    background-color: white;
    overflow: hidden;
  }

  /************** Accordion menu end ****************/



}

/************************************************/
/************************************************/
/****************Resolution 1920******************/
/************************************************/
/************************************************/



@media (min-width: 1920px) {

  
  .range-slider {
    width:179px;
    height:10px;

    border-radius: 4px;
    background-color: #ddd;
}

.range__button_1, .range__button_2 {
    position: absolute;
    top: 34%;

    width: 20px;
    height: 20px;

    cursor: move;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: #ba0bf0;
}
.range__between
{
  position: absolute;
    height: 5px;
    width:0px;
    margin-top:3px;
    border: none;
    background-color: #d23eff;
}
.range_inpt1, .range_inpt2
{
  margin-top:20px;
  width: 68px;
}
  

}