

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* :root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}


select::-ms-expand {
  display: none;
}


select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}
 */



.register-container {
  width: 70%;
  padding-right: 32px;
  padding-left: 32px;
  margin: auto;
  margin-top: 36px;
  margin-bottom: 36px;
  padding-bottom: 10px;
  background-color: #2e2c2c;
  box-shadow: 0 0 0 1px rgb(196 8 202);
  border-radius: 5px;
}


/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.my-form {
  display: flex;
  margin-top: 56px;
  margin-bottom: 41px;
}

.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 6px 10px;
  font-size: 11px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 13px 13px;
}

.my-form *:required {
  background-image: url(/images/forpage/asterisk1.svg);  
}

.my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form .required-msg {
  display: none;
  background: url(/images/forpage/asterisk1.svg)
    no-repeat center left / 15px 15px;
  padding-left: 20px;
}

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}


/* CUSTOM CHECKBOX
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form input[type="checkbox"] + label::before,
.my-form input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
} */

/* .my-form input[type="checkbox"] + label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
} */

/* .my-form input[type="checkbox"]:checked + label::before {
  background: var(--red);
}

.my-form input[type="checkbox"]:checked + label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

*/

.register-terms {
  color: white;
  font-size: 10px;
}
.term-cond {
  display: flex;
  height: 90% !important;
  background-color: #2e2c2c !important;
}

.overlay-term {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 100%;
    z-index: 50;
    opacity: 0;
}

.overlay-term.active {
    visibility: visible;
    opacity: 100;
}

.popup-term {
  background: #242424;
  box-shadow: 0px 0px 0px rgb(255 255 255 / 30%);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #2e2c2c;
  box-shadow: 0 0 0 1px rgb(196 8 202);
  border-radius: 5px;
  width: 90%;
  transition: .5s ease all;
  transform: scale(0.7);
  /* opacity: 0; */
  height: 90%;
}



.popup-term .btn-close-popup-term {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
} 

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  text-align: right;
  backface-visibility: hidden;
}

footer a {
  text-decoration: none;
}

footer span {
  color: var(--red);
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}
/* 
@media screen and (min-width: 541px) {
  .my-form input[type="checkbox"] + label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form input[type="checkbox"]:checked + label::after {
    top: 3px;
  }
} */

.neon-register {
    display: flex;
    margin: 15px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-image: linear-gradient(to right, rgb(255, 182, 255), rgb(157, 4, 204));
    border-image-slice: 1;
    border-bottom-width: thin;
    border-top: 0;
    border-right: 0;
    padding-top: 20px;
    border-left: 0;
}



/************************************************/
/************************************************/
/****************Resolution 769******************/
/************************************************/
/************************************************/


@media (min-width: 769px) {

  

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #afafaf;
  --red: #e31b23;
  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: hsl(0, 0%, 14%);
  /* --bgFormElsFocus: hsl(0, 7%, 20%); */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: none;
}

/* Remove native arrow on IE */
select::-ms-expand {
  display: none;
}

/*Remove dotted outline from selected option on Firefox*/
/*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
/*We use !important to override the color set for the select on line 99*/
select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

/* body {
  font: 18px/1.5 "Open Sans", sans-serif;
  background: var(--bodyColor);
  color: var(--white);
  margin: 1.5rem 0;
} */

.register-container {
  width: 70%;
  padding-right: 32px;
  padding-left: 32px;
  margin: auto;
  margin-top: 36px;
  margin-bottom: 36px;
  padding-bottom: 10px;
  background-color: #2e2c2c;
  box-shadow: 0 0 0 1px rgb(196 8 202);
  border-radius: 5px;
}


/* FORM ELEMENTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.my-form {
  display: flex;
  margin-top: 250px;
  margin-bottom: 225px;
}

.my-form h1 {
  margin-bottom: 1.5rem;
}

.my-form li,
.my-form .grid > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 6px 10px;
  font-size: 11px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
  /*Fix opacity issue on Firefox*/
  opacity: 1;
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:enabled:hover,
.my-form button:focus,
.my-form input[type="checkbox"]:focus + label {
  background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 13px 13px;
}

.my-form *:required {
  background-image: url(/images/forpage/asterisk1.svg);  
}

.my-form select {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
}

.my-form *:disabled {
  cursor: default;
  filter: blur(2px);
}


/* FORM BTNS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form .required-msg {
  display: none;
  background: url(/images/forpage/asterisk1.svg) no-repeat center left / 15px 15px;
  padding-left: 20px;
  color: white;
  font-size: 9px;
  padding-right: 9px;
}

.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button {
  font-weight: bold;
}

.my-form button > * {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}



.register-terms {
  color: white;
  font-size: 10px;
}
.term-cond {
  display: flex;
  height: 90% !important;
  background-color: #2e2c2c !important;
}

.overlay-term {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 100%;
    z-index: 50;
    opacity: 0;
}

.overlay-term.active {
    visibility: visible;
    opacity: 100;
}

.popup-term {
  background: #242424;
  box-shadow: 0px 0px 0px rgb(255 255 255 / 30%);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #2e2c2c;
  box-shadow: 0 0 0 1px rgb(196 8 202);
  border-radius: 5px;
  width: 90%;
  transition: .5s ease all;
  transform: scale(0.7);
  /* opacity: 0; */
  height: 90%;
}



.popup-term .btn-close-popup-term {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
} 

/* FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
  font-size: 1rem;
  text-align: right;
  backface-visibility: hidden;
}

footer a {
  text-decoration: none;
}

footer span {
  color: var(--red);
}


/* MQ
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;
    grid-gap: 1.5rem;
  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0;
  }

  .my-form .required-msg {
    display: block;
  }
}

.neon-register {
    display: flex;
    margin: 15px;
    padding-bottom: 10px;
    border-bottom: solid;
    border-image: linear-gradient(to right, rgb(255, 182, 255), rgb(157, 4, 204));
    border-image-slice: 1;
    border-bottom-width: thin;
    border-top: 0;
    border-right: 0;
    padding-top: 20px;
    border-left: 0;
}

}


/************************************************/
/************************************************/
/****************Resolution 1200******************/
/************************************************/
/************************************************/


@media (min-width: 1200px) {

  

  /* RESET RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  :root {
    --white: #afafaf;
    --red: #e31b23;
    --bodyColor: #292a2b;
    --borderFormEls: hsl(0, 0%, 10%);
    --bgFormEls: hsl(0, 0%, 14%);
    /* --bgFormElsFocus: hsl(0, 7%, 20%); */
  }
  
  .register-main {
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
    outline: none;
  }
  
  .register-main a {
    color: inherit;
  }
  
  .register-main input,
  select,
  textarea,
  button {
    font-family: inherit;
    font-size: 100%;
  }
  
  .register-main button,
  label {
    cursor: pointer;
  }
  
  .register-main select {
    appearance: none;
  }
  
  /* Remove native arrow on IE */
  .register-main  select::-ms-expand {
    display: none;
  }
  
  /*Remove dotted outline from selected option on Firefox*/
  /*https://stackoverflow.com/questions/3773430/remove-outline-from-select-box-in-ff/18853002#18853002*/
  /*We use !important to override the color set for the select on line 99*/
  .register-main select:-moz-focusring {
    color: transparent !important;
    text-shadow: 0 0 0 var(--white);
  }
  
  .register-main textarea {
    resize: none;
  }
  
  .register-main ul {
    list-style: none;
  }
  
  /* body {
    font: 18px/1.5 "Open Sans", sans-serif;
    background: var(--bodyColor);
    color: var(--white);
    margin: 1.5rem 0;
  } */
  
  .register-container {
    width: 70%;
    padding-right: 32px;
    padding-left: 32px;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
    padding-bottom: 10px;
    background-color: #2e2c2c;
    box-shadow: 0 0 0 1px rgb(196 8 202);
    border-radius: 5px;
  }
  
  
  /* FORM ELEMENTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .my-form {
    display: flex;
    margin-top: 78px;
  }
  
  .my-form h1 {
    margin-bottom: 1.5rem;
  }
  
  .my-form li,
  .my-form .grid > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  .my-form select,
  .my-form input,
  .my-form textarea,
  .my-form button {
    width: 100%;
    line-height: 1.5;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25), transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  }
  
  .my-form textarea {
    height: 170px;
  }
  
  .my-form ::placeholder {
    color: inherit;
    /*Fix opacity issue on Firefox*/
    opacity: 1;
  }
  
  .my-form select:focus,
  .my-form input:focus,
  .my-form textarea:focus,
  .my-form button:enabled:hover,
  .my-form button:focus,
  .my-form input[type="checkbox"]:focus + label {
    background: var(--bgFormElsFocus);
  }
  
  .my-form select:focus,
  .my-form input:focus,
  .my-form textarea:focus {
    transform: scale(1.02);
  }
  
  .my-form *:required,
  .my-form select {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 13px 13px;
  }
  
  .my-form *:required {
    background-image: url(/images/forpage/asterisk1.svg);  
  }
  
  .my-form select {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/down.svg);
  }
  
  .my-form *:disabled {
    cursor: default;
    filter: blur(2px);
  }
  
  
  /* FORM BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .my-form .required-msg {
    display: none;
    background: url(/images/forpage/asterisk1.svg) no-repeat center left / 15px 15px;
    padding-left: 20px;
    color: white;
    font-size: 9px;
    padding-right: 9px;
  }
  
  .my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
  }
  
  .my-form button {
    font-weight: bold;
  }
  
  .my-form button > * {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .my-form button .back {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-110%, -50%);
  }
  
  .my-form button:enabled:hover .back,
  .my-form button:focus .back {
    transform: translate(-50%, -50%);
  }
  
  .my-form button:enabled:hover .front,
  .my-form button:focus .front {
    transform: translateX(110%);
  }
  
  
  
  .register-terms {
    color: white;
    font-size: 10px;
  }
  .term-cond {
    display: flex;
    height: 90% !important;
    background-color: #2e2c2c !important;
  }
  
  .overlay-term {
      background: rgba(0, 0, 0, .3);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      width: 100%;
      z-index: 50;
      opacity: 0;
  }
  
  .overlay-term.active {
      visibility: visible;
      opacity: 100;
  }
  
  .popup-term {
    background: #242424;
    box-shadow: 0px 0px 0px rgb(255 255 255 / 30%);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #2e2c2c;
    box-shadow: 0 0 0 1px rgb(196 8 202);
    border-radius: 5px;
    width: 90%;
    transition: .5s ease all;
    transform: scale(0.7);
    /* opacity: 0; */
    height: 90%;
  }
  
  
  
  .popup-term .btn-close-popup-term {
      font-size: 16px;
      line-height: 16px;
      display: block;
      text-align: right;
      color: #BBBBBB;
      transition: .3s ease all;
  } 
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  footer {
    font-size: 1rem;
    text-align: right;
    backface-visibility: hidden;
  }
  
  footer a {
    text-decoration: none;
  }
  
  footer span {
    color: var(--red);
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (min-width: 600px) {
    .my-form .grid {
      display: grid;
      grid-gap: 1.5rem;
    }
  
    .my-form .grid-2 {
      grid-template-columns: 1fr 1fr;
    }
  
    .my-form .grid-3 {
      grid-template-columns: auto auto auto;
      align-items: center;
    }
  
    .my-form .grid > *:not(:last-child) {
      margin-bottom: 0;
    }
  
    .my-form .required-msg {
      display: block;
    }
  }
  
  .neon-register {
    padding-left: 0;
    display: flex;
    width: 773px;
    position: relative;
    right: 13px;
    padding-right: 0;
    padding-bottom: 10px;
    border-bottom: solid;
    border-image: linear-gradient(to right, rgb(255, 182, 255), rgb(157, 4, 204));
    border-image-slice: 1;
    border-bottom-width: thin;
    border-top: 0;
    border-right: 0;
    padding-top: 22px;
    border-left: 0;
  }
  
  }