
@import url(_header.css);
@import url(_footer.css);
@import url(_register.css);
@import url(_prod-detail.css);

/* 
    color purpura : rgb(195 75 231) 
    color fondo prod: #2e2c2c
    Gris claro : #a9a9ab
*/

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #121212 !important;
}

main {
    margin-top: 74px;
    background: url(/images/717792.jpg);
    overflow: hidden;
}

/* ------------ POP-UP--------------*/

.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 100%;
    z-index: 50;
}

.overlay.active {
    visibility: visible;
}

.popup {
    background: #f8f8f8;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 60vw;
    max-width: 250px;
    transition: .5s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup img {

    width: 40px;
    height: 40px;
    opacity: 0;
    margin-bottom: 10px;

}


.popup .btn-close-popup {
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}


.popup form .login-email{
    opacity: 0;
    max-width: 150px;
    margin-bottom: 5px;
    font-size: 13px;

}
.popup form .login-pass{
    opacity: 0;
    max-width: 150px;
    margin-bottom: 5px;
    font-size: 13px;
}
.popup form .login-remember-father {
    opacity: 0;
    margin-bottom: 10px;
    font-size: 9px;
    position: relative;
    left: -50px;
}


.popup form .login-register{
    opacity: 0;
    margin-bottom: 5px;
    font-size: 9px;
}
.popup form .login-forget{
    opacity: 0;
    margin-bottom: 5px;
    font-size: 9px;
}

.popup form container-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
   
}


.popup form .btn-submit {
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border: none;
    background: #461466;
    color: #f8f8f8;
    font-size: 11px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 3px;
    margin-bottom: 25px;
    opacity: 0;

}

.popup form .btn-submit:hover {
    background: rgba(46, 14, 66, .9);
}




/*------------ Cartel Neon ----------- */

.neon-wrapper-prod-salient {
    display: flex;
    margin: 15px;
    padding-bottom: 6px;
    border-bottom: solid;
    border-image: linear-gradient(to right, rgb(255, 182, 255), rgb(157, 4, 204));
    border-image-slice: 1;
    border-bottom-width: thin;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
.neon-text-prod-salient-prod {
    font-size: 1rem;
    color: #ffffff;
    top: 3px;
    position: relative;
    margin: auto;
    text-shadow: 
    .1vw 0vw .25vw #ffd8f8, .2vw 0vw .25vw #ffd8f8, .4vw 0vw .25vw #ffd8f8, 
    .1vw 0vw   0vw #e578f3, .2vw 0vw   0vw #e578f3, .4vw 0vw   0vw #e578f3,
    .1vw 0vw  .1vw #e578f3, .2vw 0vw  .1vw #e578f3, .4vw 0vw  .1vw #e578f3,
    .1vw 0vw   2vw #e578f3, .2vw 0vw   2vw #e578f3, .4vw 0vw   2vw #e578f3, 
    .1vw 0vw   1vw #cc0be5, .2vw 0vw   1vw #cc0be5, .4vw 0vw   5vw #cc0be5, 
    .1vw 0vw   5vw #cc0be5, .2vw 0vw  20vw #cc0be5, .4vw 0vw  10vw #cc0be5,
    .1vw 0vw  10vw #cc0be5, .2vw 0vw  30vw #cc0be5, .4vw 0vw  10vw #cc0be5;
  }
.neon-text-prod-salient-dest {
    font-size: 1rem;
    color: #ffffff;
    position: relative;
    bottom:3px;
    margin: auto;
    text-shadow: 
    .1vw 0vw .25vw #ffd8f8, .2vw 0vw .25vw #ffd8f8, .4vw 0vw .25vw #ffd8f8, 
    .1vw 0vw   0vw #e578f3, .2vw 0vw   0vw #e578f3, .4vw 0vw   0vw #e578f3,
    .1vw 0vw  .1vw #e578f3, .2vw 0vw  .1vw #e578f3, .4vw 0vw  .1vw #e578f3,
    .1vw 0vw   2vw #e578f3, .2vw 0vw   2vw #e578f3, .4vw 0vw   2vw #e578f3, 
    .1vw 0vw   1vw #cc0be5, .2vw 0vw   1vw #cc0be5, .4vw 0vw   5vw #cc0be5, 
    .1vw 0vw   5vw #cc0be5, .2vw 0vw  20vw #cc0be5, .4vw 0vw  10vw #cc0be5,
    .1vw 0vw  10vw #cc0be5, .2vw 0vw  30vw #cc0be5, .4vw 0vw  10vw #cc0be5;
  }

  :root {
    --animate-duration: 0.5s;
    --animate-delay: 2s;
    --animate-repeat: 1;
  }

/*----------- Animaciones -------*/

.popup.active { opacity: 1; transform: scale(1); }
.popup.active img{ animation: user .8s ease .5s forwards; }
.popup.active .login-email{ animation: loginEmail .8s ease .8s forwards; }
.popup.active .login-pass{ animation: loginPass .9s ease .9s forwards; }
.popup.active .login-remember-father{ animation: loginRemember 1s ease 1s forwards; }
.popup.active .btn-submit{ animation: loginSubmit 1.1s ease 1.1s forwards; }
.popup.active .login-register{ animation: loginRegister 1.2s ease 1.2s forwards; }
.popup.active .login-forget{ animation: loginForget 1.3s ease 1.3s forwards; }


@keyframes user {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loginEmail {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginRemember {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginPass {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginSubmit {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes loginRegister {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes loginForget {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



/*
estilo articulos destacados 
*/



.product{
    display: flex;
    width: 90%;
    margin: auto;
    background-color: #2e2c2c;
    padding: 18px 2px 2px 2px;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 20px;

}

.product img {
    width: 100%;
    padding: 0 15px; 
}

.product h3{
    margin-top: 13px;
    margin-bottom: 5px;
    font-size: 1.5em;
    color: #e3e3e3;
}

.product p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.75em;
    color: #898989;
}

.product a{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 0.75em;
    color: rgb(157 4 204 / 98%);
}


.home-precio-dest {
    font-size: 12px !important;
    color: violet !important;
}


/* slider*/
/* 
.contenedor{
    width: 100%;
    overflow: hidden;
    margin-top: 200px;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.contenido-slider:nth-child(2){
    background-color: violet;
}

.contenido-slider:nth-child(3){
    background-color: yellow;
}

.contenido-slider img{
    width: 400px;
}

.contenido-slider div{
    width: 40%;

}

.contenido-slider h2 {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: white;
    background: #332863;
    width: 150px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
}

@media screen and (max-width:900px){
    .contenido-slider img{
        width: 250px;
    }
    .contenido-slider div {
        width: 40%;
    }
    .contenido-slider h2{
        font-size: 23px;
    }
}

@media screen and (max-width:600px){
    .contenido-slider {
        flex-direction: column-reverse;
    }
    .contenido-slider div {
        width: 80%;
    }
}
*/

.slider {
    padding-top: 30px;
    width: 80%;
    margin: 0;
    margin: auto;
}

.slider img {
    width: 90%;
    margin: 0;
    margin: auto;
} 