<div class="footer-dark">
    <footer>
        <div class="footer-container">
            <div class="row container-footer">
                <div class="col-sm-6 col-md-3 item">
                    <a href="#">Contacto</a>
                    <ul>
                        <li><a href="#">E-mail</a></li>
                        <li><a href="#">Trabaja con Nosotros</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <a href="#">Lo más buscado</a>
                    <ul>
                        <li><a href="#">Enlace 1</a></li>
                        <li><a href="#">Enlace 2</a></li>
                        <li><a href="#">Enlace 3</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <a href="#">CM Mega Red</a>
                    <p>¡Todo lo que queres lo encontrás acá! </p>
                </div>
                <div class="social-footer">
                <div class="col item social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-snapchat"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                </div>
                    <p class="item copyright">CM Mega Red © 2021</p>
                </div>
            </div>
           
        </div>
    </footer>
</div>
<div class="footer-mob">
    <div class="footer-home">
        <a href="/"><i class="fas fa-home"></i></a>
    </div>
    <div class="footer-buy">
        <a href="/productCart"><i class="fas fa-shopping-bag"></i></a>
    </div>
    <div class="footer-fav">
        <a href="#"><i class="fas fa-heart"></i></a>
    </div>
    <div class="footer-notify">
        <a href="#"><i class="fas fa-bell"></i></a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
</script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $('.slider').slick({
          dots:true,
          arrows: true,
          adaptiveHeight: true,
          autoplay: true,
          autoplaySpeedy: 2000
      });
    });
  </script>     

  <script src="/js/popup.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/prod-detail.js"></script>
  <script src="/js/product-new.js"></script>
  <script src="/js/products.js"></script>
  <script src="/js/register.js"></script>
  <script src="/js/slider.js"></script>


     <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
  <!-- <script type="text/javascript">
    $('section').movemouse(function(e){
        var moveX = (e.pageY * -1 / 15);
        var moveY = (e.pageX * -1 / 15);
        $(this).css('background-position', moveX + 'px ' + moveX + 'px')
    })
</script> -->
</body>

</html>