<article class="product-">
    <img src="\images\productos\disco\disco-duro.png" alt="Producto destacado">
    <h3>Disco Duro</h3>
    <p>Disco Duro Expansion Portable de Seagate</p>
    <p class="home-precio-dest">$5000</p>
    <a href="/productDetail">ver más</a>
</article>