
<div id="section-container-user"class="section-container-user">
    <div class="section-user-admin-user">
      <div class="icon-admin-user">
        <img src="\images\logos\user-icon.png">
      </div>
      <div class="user-admin-user">
        <p class="text-users">Lucho Pagnutti</p>
      </div>
      <div class="text-users">DNI: </div>
      <div>&nbsp 30000000</div>
      <div class="text-users">&nbsp Compras: </div>
      <div>&nbsp 100</div>
    </div>
    <div class="button-admin-user">
      <div class="button-admin-user">
        <input type="submit" class="button-perfil-delete" value="Eliminar">
      </div>
      <div class="button-admin-user">
        <input type="submit" class="button-perfil-change" value="Modificar">
      </div>
    </div>
  </div>
