<!-- head added -->
<%- include('../partials/head'); %>

  <!-- header added -->
  <%- include('../partials/header'); %>

    <main>
    
      <body>
      <section class="main-section-admin-panel">
        <section class="section-admin-panel">
          <div class="section-user-admin-panel">
            <div class="icon-admin-panel">
              <img src="\images\logos\user-icon.png">
            </div>
            <div class="user-admin-panel">
              <p>Lucho Pagnutti</p>
            </div>
            <div class="delete-button-admin-panel">
              <input type="submit" class="button-perfil-delete" value="Eliminar">
            </div>
            <div class="change-button-admin-panel">
              <input type="submit" class="button-perfil-change" value="Modificar">
            </div>
          </div>
        </section>
      </section>
      </body>
    </main>
    <!-- footer added -->
    <%- include('../partials/footer'); %>