<!-- head added -->
<%- include('../partials/head'); %>
<!-- header added -->
<%- include('../partials/header'); %> 

    <main>
    <div class="forget-container">
    

        <form action="" class="forget-form-container">
            <div class="forget-pass-text">
                ¿Olvidaste tu contraseña?
            </div>
            <div class="forget-text-ingresa">
                Ingresa tu correo para recuperarla
            </div>
                <div class="forget-email">
                    <input type="email" placeholder="E-mail" class="forget-input-email">
                </div>
            <div class="forget-submit">
                <input type="submit" class="btn-forget" value="Ingresar">
            </div>
            <div class="forget-register">
                No tenés clave? <a href="register">Registrate</a>
            </div>
        </form>
    </div>
</main>

<!-- footer added -->
<%- include('../partials/footer'); %>