<!-- head added -->
<%- include('../partials/head'); %>

<!-- header added -->
<%- include('../partials/header'); %>

        <main>
        <div class="container-login">
            <div class="container-login-logo">
            <img src="\images\logos\user-icon.png">
            </div>
            <form action="" class="container-form">
                <div class="container-inputs">
                    <div class="login-container-email">
                            <input type=" email" placeholder="E-mail" class="login-email">
                    </div>
                    <div class="login-container-pass">
                        <input type="password" placeholder="Contrase単a" class="login-pass">
                    </div>
                    <div class="login-remember-father">
                                <input type="checkbox" class="css-checkbox" id="checkbox16" checked="checked" />
                                <label for="checkbox16" name="remember" class="css-checkbox dark-plus-purple"> Recordar</label>

                    </div>

                </div>
                <div class="login-submit">
                    <input type="submit" class="button-login-submit" value="Ingresar">
                </div>
                <div class="login-register">
                    多No tienes cuenta? <a href="register">Registrate</a>
                </div>
                <div class="login-forget">
                    <a href="forget">多Olvidaste tu contrase単a?</a>
                </div>
            </form>
        </div>
</main>
<!-- footer added -->
<%- include('../partials/footer'); %>