<!-- head added -->
<%- include('../partials/head'); %>

<!-- header added -->
<%- include('../partials/header'); %>

        <main>
        <div class="container-profile">
            <div class="container-profile-logo">
            <img src="\images\logos\user-icon.png">
            </div>
            <form action="" class="container-form-profile">
                <div class="profile-container-email">
                    <input type="email" placeholder="E-mail" class="profile-email">
                </div>
                <div class="profile-container-name">
                    <input type="text" placeholder="Nombre" class="profile-name">
                </div>
                <div class="profile-container-lastname">
                    <input type="text" placeholder="Apellido" class="profile-lastname">
                </div>
                <div class="profile-container-tel">
                    <input type="number" placeholder="Telefono" class="profile-tel">
                </div>
                <div class="profile-container-lastname">
                    <input type="text" placeholder="Apellido" class="profile-lastname">
                </div>
                <div class="profile-container-prov">
                    <input type="text" placeholder="Provincia" class="profile-prov">
                </div>
                <div class="profile-container-city">
                    <input type="text" placeholder="Ciudad" class="profile-city">
                </div>
                <div class="profile-container-street">
                    <input type="text" placeholder="Calle" class="profile-street">
                </div>
                <div class="profile-container-number">
                    <input type="number" placeholder="Numero" class="profile-number">
                </div>
                <div class="profile-container-cntry">
                    <input type="text" placeholder="Pais" class="profile-cntry">
                </div>
                <div class="profile-container-zip">
                    <input type="text" placeholder="Codigo postal" class="profile-zip">
                </div>
                <div class="profile-container-dni">
                    <input type="number" placeholder="DNI" class="profile-dni">
                </div>
                <div class="profile-delete-button">
                    <input type="submit" class="button-perfil-delete" value="Eliminar usuario">
                </div>
                <div class="profile-change-button">
                    <input type="submit" class="button-perfil-change" value="Modificar usuario">
                </div>
            </form>
        </div>
</main>
<!-- footer added -->
<%- include('../partials/footer'); %>